<h3> Hello <%= @customer.name() %></h3>
<div class="well">
  <h4>We have the following movies available:</h4>
  <ul>
    <% if @movies.any? %>
      <% @movies.each() do |movie| %>
      <li><a href="/movie/<%= movie.id %>"><%= movie.title %></a></li>
      <% end %>

    <% else %>

      <h3> All movies are checked out.</h3>

    <% end %>
  </ul>
</div>
<form action="/customer/<%= @customer.id %>/delete" method="post">

<input type="hidden" name="_method" value="delete">
<button type="submit" class="btn btn-danger">Delete</button>
</form>
