<h1><%= @movie.title %></h1>

<h3>Lead Actor:</h3>


<form action="/movie/<%= @movie.id %>" method="post">
  <div class="form-group">
    <h4>Update Title</h4>
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="title" placeholder="New title" class="form-control">
    <button type="submit" class="btn btn-danger">Update</button>
  </div>

</form>
<form action="/movie/<%= @movie.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
