<form action="/movies/new" method="post">
  <div class="form-group">
    <label for="title">Movie Title:</label>
    <input class="form-control "type="text" name="title">
    <label for="name">Actor Name:</label>
    <input class="form-control "type="text" name="name">
  </div>
  <button type="submit">Go</button>
</form>
